a:visited {
  color: black;
}

.active {
  font-weight: bold;
}

* {
  text-decoration: none;
  font-family: Roboto;
}

.add-todo__form {
  display: flex;
}

input[type="date"] {
  background-color: #1976d2;
  border: none;
  margin: 20px 0 0 20px;
  padding: 15px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
